.tab_content{
  display: grid;
  grid-template-columns: 2fr auto;
  grid-template-areas:
          "img title"
          "img text";
  grid-gap: 15px;
  width: 70%;
  margin: 35px 0;
}
.img{
  grid-area: img;
  align-self: center;
  justify-self: center;
  width: 125px;
  height: 110px;
  background-image: url('./img/tab_description_img.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.tab_title{
  grid-area: title;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  font-size: 25px;
  color: #000;
}
.description{
  text-align: justify;
  grid-area: text;
}

@media (max-width: 865px) {
  .tab_content{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
            "img"
            "title"
            "text";
  }
  .tab_title{
    justify-self: center;
    text-align: center;
  }
}